<div ng-controller="NavCtrl">

    <div class="wrapper">

        <nav class="navbar navbar-fixed-top">
            <div class="navbar-header">
                <ul id="bar"
                    class="nav navbar-nav"> 
                    <li>
                        <div class="navbar-brand">Sinapsis</div>
                    </li>
                    <li>
                        <a href="#" 
                           data-toggle="offcanvas">
                            <i class="fa fa-navicon"></i>
                        </a>
                    </li>
                </ul> 
            </div>
        </nav>

        <div id = "body-container"
             class="row row-offcanvas row-offcanvas-left">

            <div id = "background-column" 
                 class="col-md-2">

                <div id="sidebar"
                     class="column col-md-10 col-sm-3 col-xs-1 sidebar-offcanvas">

                    <ul id="menu"
                        class="nav nav-left">
                        <li>
                            <a href="#">
                                <i class="fa fa-user"></i> 
                                <span class="collapse in hidden-xs">Personas</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-credit-card"></i> 
                                <span class="collapse in hidden-xs">Ventas</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-bell"></i> 
                                <span class="collapse in hidden-xs">Compras</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-th"></i> 
                                <span class="collapse in hidden-xs">Stock</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-wrench"></i> 
                                <span class="collapse in hidden-xs">Soporte</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-truck"></i> 
                                <span class="collapse in hidden-xs">Domicilios</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-chart-line"></i> 
                                <span class="collapse in hidden-xs">Gerencia</span>
                            </a>
                        </li>                       
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>